- content_for :role_sidebar do
  .panel.panel-primary
    .panel-heading Role Nav
    .panel-body
      %h4= link_to raw('&larr; Home'), root_path

  .panel.panel-primary
    .panel-heading= t '.roles_list'
    .panel-body
  
    %ol.tree= just_tree @roles

      %p.new
        = button_to t('.new_role'), new_admin_role_path, class: 'btn btn-success'
           